@model Shopzop.Models.LoginModel
@{
    ViewBag.Title = "ForgetPassword";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");

    @if (ViewBag.InvalidUserName != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.error('Invalid User Name', { timeOut: 5000 })
            });
        </script>
    }

    else if (ViewBag.MailInfo != null)
    {
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.warning('Mail containing your password will be sent to your registered Email', { timeOut: 5000 })
        });
    </script>
    }
}

<body style="background-image: url(../../Images/ShopzopBG.png); background-position-x: right; overflow:clip; background-position-y: bottom; background-attachment: fixed; background-repeat: no-repeat;">
    @using (Html.BeginForm())
    {
        <br />
        <fieldset>
            <legend>Forget Password</legend>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div>
                <table>
                    <tr>
                        <td>@Html.LabelFor(model => model.UserName)</td>
                        <td>@Html.TextBoxFor(model => model.UserName, new { @class = "", placeholder = "Enter User Name", style = "margin-bottom:5px; margin-left:5px; margin-right:5px" })</td>
                        <td>@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Send" style="margin-left:5px;" />
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </fieldset>
    }
</body>