@model Shopzop.Models.RegisrationModel


@{
    ViewBag.Title = "Register";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>

<body style="background-image: url(../../Images/ShopzopBG.png); background-position-x: right; overflow:clip; background-position-y: bottom; background-attachment: fixed; background-repeat: no-repeat;">
    @using (Html.BeginForm("Index", "Registration", FormMethod.Post))
    {
        <br />
        <fieldset>
            <legend>Registration</legend>
            @Html.ValidationSummary(true)
            <div>
                <table>
                    <tr>
                        <td>@Html.LabelFor(model => model.UserName)</td>
                        <td>@Html.TextBoxFor(model => model.UserName, new { @class = "", placeholder = "Enter User Name", style = "margin-bottom:10px; margin-left:10px; margin-right:5px;" })</td>
                        <td>@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Email)</td>
                        <td>@Html.TextBoxFor(model => model.Email, new { @class = "", placeholder = "Enter Email", style = "margin-bottom:10px; margin-left:10px;" })</td>
                        <td>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Mobile)</td>
                        <td>@Html.TextBoxFor(model => model.Mobile, new { @class = "", placeholder = "Enter Mobile Number", style = "margin-bottom:10px; margin-left:10px;" })</td>
                        <td>@Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Password)</td>
                        <td>@Html.PasswordFor(model => model.Password, new { @class = "", placeholder = "Enter Password", style = "margin-bottom:10px; margin-left:10px;" })</td>
                        <td>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.ConfirmPassword)</td>
                        <td>@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "", placeholder = "Enter Password Again", style = "margin-bottom:10px; margin-left:10px;" })</td>
                        <td>@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Register" style="margin-left:10px;" />
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </fieldset>
    }
</body>